* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #000000;
    background-repeat: repeat;
    background-size: auto;
}
/* 
======================
    CUSTOM CURSOR
====================== 
*/
:root 
{
    --cursor-default: url("cursor-default.png") 8 8, auto;
    --cursor-pointer: url("cursor-pointer.png") 8 8, pointer;
    --cursor-text: url("cursor-text.png") 8 8, text;
}
html,body 
{
    cursor: var(--cursor-default);
}
a,button,[role="button"],.clickable 
{
    cursor: var(--cursor-pointer);
}
input,textarea,[contenteditable="true"],p,span,h1, h2, h3, h4, h5, h6 
{
    cursor: var(--cursor-text);
}
/* 
======================
    CUSTOM FONTS
====================== 
*/
@font-face
{
    font-family: Basement-Grotesque;
    src: url(../fonts/BasementGrotesque-Black_v1.202.otf);
}
h1
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
h2
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
h3
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
h4
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
a
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
p
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}

/*Header*/

/*Hero*/

/*Footer*/


/* 
======================
    RESPONSIVENESS
====================== 
*/
@media screen and (max-width: 000px)
{
    
}