@font-face
{
    /*Enter Font Name*/
    font-family: Basement-Grotesque;
    /*Choose Font From Folder*/
    src: url(../fonts/BasementGrotesque-Black_v1.202.otf);
}
* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #000000;
    background-repeat: repeat;
    background-size: auto;
}

/*Font Styling*/
h1
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
h2
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
h3
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
h4
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
a
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}
p
{
    font-family: Basement-Grotesque, sans-serif;
    font-style: normal;
}

/*Header*/

/*Hero*/

/*Footer*/


/*Responsive*/
@media screen and (max-width: 000px)
{
    
}