@font-face
{
    font-family: Tonnelier-Heavy;
    src: url(../fonts/Tonnelier-Heavy.ttf);
}
@font-face
{
    font-family: Tonnelier-Bold;
    src: url(../fonts/Tonnelier-Bold.ttf);
}
@font-face
{
    font-family: Tonnelier-SemiBold;
    src: url(../fonts/Tonnelier-Semibold.ttf);
}
@font-face
{
    font-family: Tonnelier-Medium;
    src: url(../fonts/Tonnelier-Medium.ttf);
}
@font-face
{
    font-family: Tonnelier-Regular;
    src: url(../fonts/Tonnelier-Regular.ttf);
}
@font-face
{
    font-family: Tonnelier-Thin;
    src: url(../fonts/Tonnelier-Thin.ttf);
}
@font-face
{
    font-family: Tonnelier-Light;
    src: url(../fonts/Tonnelier-Light.ttf);
}

* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #CFD0CC;
    background-image: url("../images/Grain.png");
    background-repeat: repeat;
    background-size: auto;
}

/*Font Styling*/
h1
{
    font-family: Tonnelier-Bold, sans-serif;
    font-style: normal;
}
h2
{
    font-family: Tonnelier-Bold, sans-serif;
    font-style: normal;
}
h3
{
    font-family: Tonnelier-SemiBold, sans-serif;
    font-style: normal;
}
h4
{
    font-family: Tonnelier-SemiBold, sans-serif;
    font-style: normal;
}
a
{
    font-family: Tonnelier-SemiBold, sans-serif;
    font-style: normal;
}
p
{
    font-family: Tonnelier-Medium, sans-serif;
    font-style: normal;
}

/*Header*/

/*Hero*/

/*Footer*/


/*Responsive*/
@media screen and (max-width: 000px)
{
    
}