
@font-face
{
    font-family: Tonnelier-Heavy;
    src: url(../fonts/Tonnelier-Heavy.ttf);
}
@font-face
{
    font-family: Tonnelier-Bold;
    src: url(../fonts/Tonnelier-Bold.ttf);
}
@font-face
{
    font-family: BarTonnelierlow-SemiBold;
    src: url(../fonts/Tonnelier-Semibold.ttf);
}
@font-face
{
    font-family: Tonnelier-Medium;
    src: url(../fonts/Tonnelier-Medium.ttf);
}
@font-face
{
    font-family: Tonnelier-Regular;
    src: url(../fonts/Tonnelier-Regular.ttf);
}
@font-face
{
    font-family: BarTonnelierlow-Thin;
    src: url(../fonts/Tonnelier-Thin.ttf);
}
@font-face
{
    font-family: BarTonnelierlow-Light;
    src: url(../fonts/Tonnelier-Light.ttf);
}

* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #D8D2C6;
}

/*Font Styling*/
h1
{
    font-family: Tonnelier-Bold, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2
{
    font-family: Tonnelier-Bold, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3
{
    font-family: Tonnelier-SemiBold, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h4
{
    font-family: Tonnelier-SemiBold, sans-serif;
    font-weight: 400;
    font-style: normal;
}
a
{
    font-family: Tonnelier-SemiBold, sans-serif;
    font-weight: 400;
    font-style: normal;
}
p
{
    font-family: Tonnelier-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Header*/
#header-thick
{
    height: 300px;
    background-color: whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 1000;

    border: 3px solid grey;
}
#header-narrow
{
    height: 300px;
    background-color: whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 1000;

    border: 3px solid grey;
}
.header-text 
{
    color: #2F2F30;
    text-align: center;
}
.header-text h1 
{
    font-size: 3.5rem;
    line-height: 0.5;
}
.header-text h4 
{
    font-size: 1.5rem;
    line-height: 0.2;
}
.header-text p 
{
    font-size: 1rem;
    line-height: 0.4;
}

/*Hero Section*/
#hero 
{
}

/*Responsive*/
@media screen and (max-width: 000px)
{
    
}