@font-face
{
    font-family: Tonnelier-Heavy;
    src: url(../fonts/Tonnelier-Heavy.ttf);
}
@font-face
{
    font-family: Tonnelier-Bold;
    src: url(../fonts/Tonnelier-Bold.ttf);
}
@font-face
{
    font-family: Tonnelier-SemiBold;
    src: url(../fonts/Tonnelier-Semibold.ttf);
}
@font-face
{
    font-family: Tonnelier-Medium;
    src: url(../fonts/Tonnelier-Medium.ttf);
}
@font-face
{
    font-family: Tonnelier-Regular;
    src: url(../fonts/Tonnelier-Regular.ttf);
}
@font-face
{
    font-family: Tonnelier-Thin;
    src: url(../fonts/Tonnelier-Thin.ttf);
}
@font-face
{
    font-family: Tonnelier-Light;
    src: url(../fonts/Tonnelier-Light.ttf);
}

* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #D8D2C6;
}

/*Font Styling*/
h1
{
    font-family: Tonnelier-Bold, sans-serif;
    font-style: normal;
}
h2
{
    font-family: Tonnelier-Bold, sans-serif;
    font-style: normal;
}
h3
{
    font-family: Tonnelier-SemiBold, sans-serif;
    font-style: normal;
}
h4
{
    font-family: Tonnelier-SemiBold, sans-serif;
    font-style: normal;
}
a
{
    font-family: Tonnelier-SemiBold, sans-serif;
    font-style: normal;
}
p
{
    font-family: Tonnelier-Medium, sans-serif;
    font-style: normal;
}

/*Header*/
#header-thick
{
    height: 300px;
    background-color: whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 1000;

    border: 3px solid grey;
}
#header-narrow
{
    height: 300px;
    background-color: whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 1000;

    border: 3px solid grey;
}
.header-text 
{
    color: #2F2F30;
    text-align: center;
    margin: 0rem 0rem 0rem 0rem;
}
.header-text h1 
{
    font-size: 3.5rem;
    margin: 0rem 0rem 0rem 0rem;
}
.header-text h4 
{
    font-size: 1.5rem;
    margin: 0rem 0rem 0rem 0rem;
}
.header-text p 
{
    font-size: 1rem;
    margin: 0rem 0rem 0rem 0rem;
}
#header-wordmark-underline
{
    border: none;
    height: 0.25rem;
    width: 28rem;
    background-color: #2F2F30;
    margin: 0rem auto 0.8rem auto;
}
.upper-horizantal-rule
{
    border: none;
    height: 0.25rem;
    width: 90%;
    background-color: #2F2F30;
    margin: 1rem auto 1rem auto;
}
.lower-horizantal-rule
{
    border: none;
    height: 0.25rem;
    width: 90%;
    background-color: #2F2F30;
    margin: 1rem auto 0rem auto;
}
.navbar a
{
    font-size: 1rem;
    text-decoration: none;
    color: #2F2F30;
}

/*Hero Section*/


/*Responsive*/
@media screen and (max-width: 000px)
{
    
}