
@font-face
{
    font-family: Boldonese-Regular;
    src: url(../fonts/Boldonse-Regular.ttf);
}
@font-face
{
    font-family: Barlow-Regular;
    src: url(../fonts/Barlow-Regular.ttf);
}
@font-face
{
    font-family: Barlow-Medium;
    src: url(../fonts/Barlow-Medium.ttf);
}
@font-face
{
    font-family: Barlow-SemiBold;
    src: url(../fonts/Barlow-SemiBold.ttf);
}
@font-face
{
    font-family: Barlow-Bold;
    src: url(../fonts/Barlow-Bold.ttf);
}
@font-face
{
    font-family: Barlow-ExtraBold;
    src: url(../fonts/Barlow-ExtraBold.ttf);
}
@font-face
{
    font-family: Barlow-Black;
    src: url(../fonts/Barlow-Black.ttf);
}

* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #FFFAF6;
}

/*Font Styling*/
h1
{
    font-family: Boldonese-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2
{
    font-family: Barlow-Black, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3
{
    font-family: Barlow-ExtraBold, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h4
{
    font-family: Barlow-Bold, sans-serif;
    font-weight: 400;
    font-style: normal;
}
a
{
    font-family: Barlow-Bold, sans-serif;
    font-weight: 400;
    font-style: normal;
}
p
{
    font-family: Barlow-Medium, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Header*/
#header
{
    height: 70px;
    background-color: #2B323F;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

/*Hero Section*/
#hero 
{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-img img 
{
    width: 100%;
    height: auto;
    display: block;
    max-height: 100%;
    object-fit: contain; 
    object-position: center;
}
.hero-text 
{
    color: #2B323F;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h1 
{
    font-size: 4rem;
    line-height: 1;
}

.hero-text h4 
{
    font-size: 2.5rem;
    line-height: 0.5;
}

.hero-text p 
{
    font-size: 1.5rem;
    line-height: 0.4;
}

/*Responsive*/
@media screen and (max-width: 000px)
{
    
}