
@font-face
{
    font-family: Boldonese-Regular;
    src: url(../fonts/Boldonse-Regular.ttf);
}
@font-face
{
    font-family: Barlow-Regular;
    src: url(../fonts/Barlow-Regular.ttf);
}
@font-face
{
    font-family: Barlow-Medium;
    src: url(../fonts/Barlow-Medium.ttf);
}
@font-face
{
    font-family: Barlow-SemiBold;
    src: url(../fonts/Barlow-SemiBold.ttf);
}
@font-face
{
    font-family: Barlow-Bold;
    src: url(../fonts/Barlow-Bold.ttf);
}
@font-face
{
    font-family: Barlow-ExtraBold;
    src: url(../fonts/Barlow-ExtraBold.ttf);
}
@font-face
{
    font-family: Barlow-Black;
    src: url(../fonts/Barlow-Black.ttf);
}

* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
}

/*Font Styling*/
h1
{
    font-family: Boldonese-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2
{
    font-family: Boldonese-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3
{
    font-family: Boldonese-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h4
{
    font-family: Boldonese-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
}
a
{
    font-family: Barlow-Bold, sans-serif;
    font-weight: 400;
    font-style: normal;
}
p
{
    font-family: Barlow-Medium, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Header*/
#header
{
    position: sticky;
    top: 0px;
    z-index: 1000;
}

/*Hero Section*/
#hero 
{
    background-image: url("../images/mexican_food_1.png");
    height: 90vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    position: relative;
}


/*Responsive*/
@media screen and (max-width: 000px)
{
    
}