@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Han+Sans&family=Lexend:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
}

/*Text Styling*/
.special-gothic-expanded-one-regular 
{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.passion-one-black 
{
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.lato-regular 
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lato-bold 
{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*Column Layout*/
#background
{
    background-image: url(../images/stadium.webp);
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.center-column
{
    background-color: white;
    width: 50%; 
    min-width: 475px;
    margin: 0px auto; 
}

/*Top Text*/
.top
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 25px 0px 25px;
    padding: 0px;

    position: relative;
    top: 0px;
}
.top #top-text h4
{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
.top #top-text h1
{
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 50px;
}
.top #top-text h3
{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

/*Face Off Section*/
.face-off
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 75px 25px 0px 25px;
    padding: 0px;

    position: relative;
    top: 0px;
}
.face-off h3
{
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 24px;
}
.face-off #middle-text h1
{
    text-align: center;
    font-family: "Passion One", sans-serif;
    font-size: 50px;
}
#chiefs-logo
{
    width: 247px;
}
#eagles-logo
{
    width: 300px;
}

/*Bottom Text*/
.bottom
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px 25px 0px 25px;
    padding: 0px;

    position: relative;
    top: 0px;
}
.bottom #bottom-text h2
{
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 30px;
}
.bottom #bottom-text h3
{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
}
.bottom #bottom-text h4
{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
.buttons
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 0px 0px 0px;
    gap: 30px;
    padding: 0px;

    position: relative;
    top: 0px;
}
.buttons a
{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    color: black;
    border: solid black 3px;
    text-decoration: none;
    padding: 10px;
}
.buttons a:hover
{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    color: white;
    border: solid black 0px;
    background-color: black;
    text-decoration: none;
    padding: 10px;
}

/*Responsive*/
@media screen and (max-width: 1400px)
{
    .face-off
    {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 500px)
{
    .buttons
    {
        display: flex;
        flex-direction: column;
    }
}