@font-face
{
    font-family: D-Din;
    src: url(../fonts/Tonnelier-Heavy.ttf);
}
@font-face
{
    font-family: D-Din-Bold;
    src: url(../fonts/Tonnelier-Bold.ttf);
}
* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #FFFFFF;
    background-repeat: repeat;
    background-size: auto;
}

/*Font Styling*/
h1
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
h2
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
h3
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
h4
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
a
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
p
{
    font-family: D-Din, sans-serif;
    font-style: normal;
}

/*Header*/


/*Hero Section*/


/*Responsive*/
@media screen and (max-width: 000px)
{
    
}