@font-face
{
    font-family: D-Din;
    src: url(../fonts/D-DIN.otf);
}
@font-face
{
    font-family: D-Din-Bold;
    src: url(../fonts/D-DIN-Bold.otf);
}
* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #FFFFFF;
    background-repeat: repeat;
    background-size: auto;
}

/*Font Styling*/
h1
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
h2
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
h3
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
h4
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
a
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
p
{
    font-family: D-Din, sans-serif;
    font-style: normal;
}

/*Navigation*/
#navigation
{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 2px solid #000000;
}
#robert-book-design-logo img
{
    height: 40px;
    width: auto;
}
#header-title 
{
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-decoration: none;
    color: #000000;
    -webkit-text-stroke: 1px #000000;
    -moz-text-stroke: 1px #000000;
    font-size: 2rem;
}
#nav-links 
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 1.2rem;
}
#nav-links li 
{
    margin-left: 0.5rem;
}
#nav-links a 
{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}
#nav-links a:hover 
{
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
}
#breadcrumb-nav 
{
    padding: 1rem 1rem 1rem 1rem;
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
}
#breadcrumb-nav a 
{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}
#breadcrumb-nav a:hover 
{
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
}

/*Project Title*/
.project-title
{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    margin: 0rem 0rem 0rem 0rem;
}
.project-title h1
{
    color: #000000;
    -webkit-text-stroke: 1px #000000;
    -moz-text-stroke: 1px #000000;
    font-size: 5rem;
    margin: 0rem 0rem 0rem 1rem;
}
.gradient-block 
{
    height: 30px;
    background: linear-gradient(to bottom, #ffffff, transparent);
    padding: 0rem;
    margin: 0rem 0rem 0rem 0rem;
}
.project-title a
{
    position: fixed;
    top: 14rem;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: solid 2px #000000;
    margin: 0rem 0rem 0rem 1rem;
}
.project-title a:hover 
{
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
    border: solid 2px #DD1212;
}

/*Project Pages*/
.project-objective 
{
    display: flex;
    gap: 3rem;
    margin: 6.5rem 5rem 5rem 5rem;
    align-items: center;
}
.project-ideation 
{
    display: flex;
    gap: 3rem;
    margin: 5rem 5rem 5rem 5rem;
    align-items: center;
}
.project-solution 
{
    display: flex;
    gap: 3rem;
    margin: 5rem 5rem 2.5rem 5rem;
    align-items: center;
}
.image-block 
{
    flex: 1;
    align-items: center;
    justify-content: center;
}
.image-block img 
{
    width: 800px;
    height: 350px;
    margin: 0rem 0rem 0rem 0rem;
}
.text-block 
{
    flex: 0.5;
    display: flex;
    gap: 1rem;
}
.text-block-titles 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-block-titles h2 
{
    font-size: 4rem;
    margin: 0rem 0rem 0rem 0rem;
    color: transparent;
    -webkit-text-stroke: 2px #DD1212;
    -moz-text-stroke: 2px #DD1212;
}
.text-block-titles h1 
{
    color: #000000;
    -webkit-text-stroke: 1px #000000;
    -moz-text-stroke: 1px #000000;
    font-size: 5rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    margin: 0rem 0rem 0rem 0rem;
}
.text-block-ruler 
{
    width: 2px;
    background-color: #000000;
    margin: 0rem 0.5rem 0rem 0rem;
    justify-self: center;
    align-self: center;
    height: 350px;
}
.text-block-copy 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 350px;
}
.text-block-copy p 
{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

/*Footer*/
.footer
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 2px solid #000000; 
}
.footer h2
{
    color: #000000;
    font-size: 1.2rem;
}
.footer a
{
    text-decoration: underline;
    color: #000000;
    font-size: 1.2rem;
}
.footer a:hover 
{
    font-size: 1.2rem;
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
}

/*Responsive*/
@media screen and (max-width: 000px)
{
    
}