@font-face
{
    font-family: D-Din;
    src: url(../fonts/D-DIN.otf);
}
@font-face
{
    font-family: D-Din-Bold;
    src: url(../fonts/D-DIN-Bold.otf);
}
* 
{
    box-sizing: border-box;
}
body 
{
    margin: 0px;
    font-family: sans-serif;
    background-color: #FFFFFF;
    background-repeat: repeat;
    background-size: auto;
}

/*Font Styling*/
h1
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
h2
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
h3
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
h4
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
a
{
    font-family: D-Din-Bold, sans-serif;
    font-style: normal;
}
p
{
    font-family: D-Din, sans-serif;
    font-style: normal;
}

/*Navigation*/
#navigation
{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 2px solid #000000;
}
#robert-book-design-logo img
{
    height: 50px;
    width: auto;
}
#header-title 
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-decoration: none;
    color: #000000;
    -webkit-text-stroke: 1px #000000;
    -moz-text-stroke: 1px #000000;
    font-size: 2rem;
}
#nav-links 
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 1.2rem;
}
#nav-links li 
{
    margin-left: 0.5rem;
}
#nav-links a 
{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}
#nav-links a:hover 
{
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
}
#hamburger 
{
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    -webkit-text-stroke: 0.5px #000000;
    -moz-text-stroke: 0.5px #000000;
    cursor: pointer;
}
#hamburger:hover 
{
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
}
#mobile-menu 
{
    display: none;
}
#breadcrumb-nav 
{
    padding: 1rem 1rem 1rem 1rem;
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
}
#breadcrumb-nav a 
{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}
#breadcrumb-nav a:hover 
{
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
}

/*Projects Page*/
#projects
{
    padding: 0rem 1rem 0rem 1rem;
    margin: 0rem 0rem 0rem 0rem;
}
#graphic-design-projects
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
}
#ui-ux-design-projects
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem 0rem 0rem 0rem;
    margin: 2rem 0rem 0rem 0rem;
}
.projects-page-section-headers
{
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    color: #000000;
    -webkit-text-stroke: 1px #000000;
    -moz-text-stroke: 1px #000000;
    font-size: 5rem;
}
.projects-page-project-card
{
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 0rem 1rem 0rem;

    width: 1600px;
    height: 500px;
    border: 2px solid #000000;
    border-radius: 25px;

    
    /*Test Color*/
    background-color: yellow;
}
.projects-page-project-card:hover
{
    border: 2px solid #DD1212;
}
.projects-page-project-card-image
{
    display: flex;
    flex-direction: column;

    /*Test Color*/
    background-color: orange;
}
.projects-page-project-card-text
{
    display: flex;
    flex-direction: column;

    /*Test Color*/
    background-color: orange;
}

/*Project Pages Title*/
.project-title
{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    margin: 0rem 0rem 0rem 0rem;
}
.project-title h1
{
    color: #000000;
    -webkit-text-stroke: 1px #000000;
    -moz-text-stroke: 1px #000000;
    font-size: 5rem;
    margin: 0rem 0rem 0rem 1rem;
}
.gradient-block 
{
    height: 30px;
    background: linear-gradient(to bottom, #ffffff, transparent);
    padding: 0rem;
    margin: 0rem 0rem 0rem 0rem;
}
.project-title a
{
    position: fixed;
    top: 14rem;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: solid 2px #000000;
    margin: 0rem 0rem 0rem 1rem;
}
.project-title a:hover 
{
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
    border: solid 2px #DD1212;
}

/*Project Pages Portfolio Pieces*/
.project-objective 
{
    display: flex;
    gap: 3rem;
    margin: 9rem 5rem 0rem 5rem;
    align-items: center;
}
.project-ideation 
{
    display: flex;
    gap: 3rem;
    margin: 0rem 5rem 0rem 5rem;
    align-items: center;
}
.project-solution 
{
    display: flex;
    gap: 3rem;
    margin: 0rem 5rem 5rem 5rem;
    align-items: center;
}
.image-block 
{
    display: flex;
    flex: 1;
    height: 600px;
    align-items: center;
    justify-content: start;
}
.image-block img 
{
    width: 900px;
    height: auto;
    margin: 0rem 0rem 0rem 0rem;
}
.text-block 
{
    display: flex;
    flex: 0.5;
    height: 600px;
    gap: 1rem;
}
.text-block-titles 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-block-titles h2 
{
    font-size: 4rem;
    margin: 0rem 0rem 0rem 0rem;
    color: transparent;
    -webkit-text-stroke: 2px #DD1212;
    -moz-text-stroke: 2px #DD1212;
}
.text-block-titles h1 
{
    color: #000000;
    -webkit-text-stroke: 1px #000000;
    -moz-text-stroke: 1px #000000;
    font-size: 5rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    margin: 0rem 0rem 0rem 0rem;
}
.project-objective .text-block-ruler 
{
    width: 2px;
    background-color: #000000;
    margin: 0rem 0.5rem 0rem 0rem;
    justify-self: center;
    align-self: center;
    height: 425px;
}
.project-ideation .text-block-ruler 
{
    width: 2px;
    background-color: #000000;
    margin: 0rem 0.5rem 0rem 0rem;
    justify-self: center;
    align-self: center;
    height: 380px;
}
.project-solution .text-block-ruler 
{
    width: 2px;
    background-color: #000000;
    margin: 0rem 0.5rem 0rem 0rem;
    justify-self: center;
    align-self: center;
    height: 405px;
}
.text-block-copy 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 375px;
}
.text-block-copy p 
{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
}

/*Footer*/
.footer
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 2px solid #000000; 
}
.footer h2
{
    color: #000000;
    font-size: 1.2rem;
}
.footer a
{
    text-decoration: underline;
    color: #000000;
    font-size: 1.2rem;
}
.footer a:hover 
{
    font-size: 1.2rem;
    color: transparent;
    -webkit-text-stroke: 1px #DD1212;
    -moz-text-stroke: 1px #DD1212;
}

/*Responsive Navigation*/
@media (max-width: 1000px)
{
    #nav-links 
    {
        display: none;
    }
    #hamburger 
    {
        display: block;
        position: relative;
        z-index: 9999;
    }
    #mobile-menu 
    {
        position: fixed;
        top: 76px;
        right: 0;
        width: 150px;
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        border-left: 2px solid #000000;
        border-bottom: 2px solid #000000;
        z-index: 9999;
    }
    #mobile-menu a 
    {
        padding: 1rem;
        text-decoration: none;
        color: #000000;
        font-size: 1.2rem;
        border-top: 2px solid #000000;
        text-align: right;
    }
    #mobile-menu a:hover 
    {
        color: transparent;
        -webkit-text-stroke: 1px #DD1212;
        -moz-text-stroke: 1px #DD1212;
    }
    #mobile-menu.open 
    {
        display: flex;
    }
}
@media (max-width: 800px)
{
    #mobile-menu 
    {
        width: 120px;
    }
    #mobile-menu a 
    {
        font-size: 1rem;
    }
}
@media (max-width: 675px)
{
    #mobile-menu 
    {
        width: 100px;
    }
    #mobile-menu a 
    {
        padding-top: 1.25rem;
        font-size: 0.8rem;
    }
    #mobile-menu a:hover 
    {
        color: transparent;
        -webkit-text-stroke: 0.75px #DD1212;
        -moz-text-stroke: 0.75px #DD1212;
    }
}
@media (max-width: 620px)
{
    #header-title 
    {
        -webkit-text-stroke: 0.75px #000000;
        -moz-text-stroke: 0.75px #000000;
        font-size: 1.5rem;
    }
    #robert-book-design-logo img
    {
        height: 40px;
        width: auto;
    }
    #mobile-menu a 
    {
        padding-top: 1.2rem;
        font-size: 0.8rem;
    }
}
@media (max-width: 475px)
{
    #header-title 
    {
        font-size: 1.2rem;
    }
    #robert-book-design-logo img
    {
        height: 35px;
        width: auto;
    }
}

/*Responsive Breadcrumb Navigation*/
@media (max-width: 800px)
{
    #breadcrumb-nav a
    {
        font-size: 1rem;
    }
}
@media (max-width: 675px)
{
    #breadcrumb-nav a
    {
        font-size: 0.8rem;
    }
    #breadcrumb-nav a:hover
    {
        -webkit-text-stroke: 0.75px #DD1212;
        -moz-text-stroke: 0.75px #DD1212;
    }
}

/*Responsive Projects Page*/
@media (max-width: 000px)
{

}

/*Responsive Project Pages Title*/
@media (max-width: 1350px)
{
    .project-title
    {
        height: 75px;
    }
    .project-title h1
    {
        
        margin: 0.2rem 0rem 0rem 1rem;
        font-size: 4rem;
    }
    .project-title a
    {
        top: 13.25rem;
    }
}
@media (max-width: 1075px)
{
    .project-title
    {
        height: 62px;
    }
    .project-title h1
    {
        color: #000000;
        -webkit-text-stroke: 1px #000000;
        -moz-text-stroke: 1px #000000;
        font-size: 3rem;
        margin: 0.4rem 0rem 0rem 1rem;
    }
    .project-title a
    {
        top: 12.5rem;
    }
}
@media (max-width: 810px)
{
    .project-title
    {
        height: 58px;
    }
    .project-title h1
    {
        color: #000000;
        -webkit-text-stroke: 1px #000000;
        -moz-text-stroke: 1px #000000;
        font-size: 2.5rem;
        margin: 0.5rem 0rem 0rem 1rem;
    }
    .project-title a
    {
        top: 12rem;
        font-size: 1rem;
        padding: 0.5rem;
    }
    .project-title a:hover 
    {
        -webkit-text-stroke: 1px #DD1212;
        -moz-text-stroke: 1px #DD1212;
        border: solid 2px #DD1212;
    }
}
@media (max-width: 675px)
{
    .project-title
    {
        height: 50px;
    }
    .project-title h1
    {
        color: #000000;
        -webkit-text-stroke: 1px #000000;
        -moz-text-stroke: 1px #000000;
        font-size: 2rem;
        margin: 0.5rem 0rem 0rem 1rem;
    }
    .project-title a
    {
        top: 11.2rem;
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    .project-title a:hover 
    {
        -webkit-text-stroke: 0.75px #DD1212;
        -moz-text-stroke: 0.75px #DD1212;
        border: solid 2px #DD1212;
    }
}
@media (max-width: 550px)
{
    .project-title
    {
        height: 46px;
    }
    .project-title h1
    {
        color: #000000;
        -webkit-text-stroke: 0.75px #000000;
        -moz-text-stroke: 0.75px #000000;
        font-size: 1.5rem;
        margin: 0.75rem 0rem 0rem 1rem;
    }
    .project-title a
    {
        top: 11.1rem;
    }
}
@media (max-width: 450px)
{
    .project-title
    {
        height: 44px;
    }
    .project-title h1
    {
        color: #000000;
        -webkit-text-stroke: 0.5px #000000;
        -moz-text-stroke: 0.5px #000000;
        font-size: 1.2rem;
        margin: 0.8rem 0rem 0rem 1rem;
    }
    .project-title a
    {
        top: 10.8rem;
    }
}

/*Responsive Portfolio Pages Pieces*/
@media (max-width: 1650px)
{
    .image-block img 
    {
        width: 800px;
    }
    .text-block-copy 
    {
        width: 350px;
    }
    .text-block-copy p 
    {
        font-size: 1.2rem;
    }
}
@media (max-width: 1500px)
{
    .image-block img 
    {
        width: 700px;
    }
    .text-block-copy 
    {
        width: 350px;
    }
    .text-block-copy p 
    {
        font-size: 1.2rem;
    }
}
@media (max-width: 1400px)
{
    .image-block 
    {
        height: 550px;
    }
    .image-block img 
    {
        width: 600px;
    }
    .text-block 
    {
        height: 550px;
        gap: 1rem;
    }
    .text-block-titles h2 
    {
        font-size: 4rem;
    }
    .text-block-titles h1 
    {
        font-size: 5rem;
    }
    .project-objective .text-block-ruler 
    {
        height: 425px;
    }
    .project-ideation .text-block-ruler 
    {
        height: 380px;
    }
    .project-solution .text-block-ruler 
    {
        height: 405px;
    }
    .text-block-copy 
    {
        width: 350px;
    }
    .text-block-copy p 
    {
        font-size: 1.2rem;
    }
}
@media (max-width: 1300px)
{
    .project-objective 
    {
        gap: 2rem;
    }
    .project-ideation 
    {
        gap: 2rem;
    }
    .project-solution 
    {
        gap: 2rem;
    }
    .image-block 
    {
        height: 500px;
    }
    .image-block img 
    {
        width: 550px;
    }
    .text-block 
    {
        height: 500px;
        gap: 1rem;
    }
    .text-block-titles h2 
    {
        font-size: 3.2rem;
    }
    .text-block-titles h1 
    {
        font-size: 4rem;
    }
    .project-objective .text-block-ruler 
    {
        height: 340px;
    }
    .project-ideation .text-block-ruler 
    {
        height: 304px;
    }
    .project-solution .text-block-ruler 
    {
        height: 324px;
    }
    .text-block-copy 
    {
        width: 330px;
    }
    .text-block-copy p 
    {
        font-size: 1.1rem;
    }
}
@media (max-width: 1200px)
{
    .image-block img 
    {
        width: 500px;
    }
}
@media (max-width: 1150px)
{
    .project-objective 
    {
        gap: 1rem;
    }
    .project-ideation 
    {
        gap: 1rem;
    }
    .project-solution 
    {
        gap: 1rem;
    }
    .image-block 
    {
        height: 500px;
    }
    .image-block img 
    {
        width: 450px;
    }
    .text-block 
    {
        height: 500px;
        gap: 1rem;
    }
    .text-block-titles h2 
    {
        font-size: 2.4rem;
    }
    .text-block-titles h1 
    {
        font-size: 3rem;
    }
    .project-objective .text-block-ruler 
    {
        height: 255px;
    }
    .project-ideation .text-block-ruler 
    {
        height: 228px;
    }
    .project-solution .text-block-ruler 
    {
        height: 243px;
    }
    .text-block-copy 
    {
        width: 300px;
    }
    .text-block-copy p 
    {
        font-size: 0.9rem;
    }
}
@media (max-width: 1030px)
{
    .project-objective 
    {
        margin: 6rem 2rem 0rem 2rem;
    }
    .project-ideation 
    {
        margin: 0rem 2rem 0rem 2rem;
    }
    .project-solution 
    {
        margin: 0rem 2rem 2rem 2rem;
    }
    .image-block 
    {
        height: 400px;
    }
    .text-block 
    {
        height: 400px;
    }
}
@media (max-width: 950px)
{
    .project-objective
    {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin: 8rem 4rem 4rem 4rem;
    }
    .project-ideation
    {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin: 4rem 4rem 4rem 4rem;
    }
    .project-solution
    {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin: 4rem 4rem 4rem 4rem;
    }
    .image-block
    {
        justify-content: center;
        height: 600px;
    }
    .image-block img 
    {
        width: 600px;
    }
    .text-block
    {
        justify-content: center;
        height: 600px;
    }
    .text-block-titles h2 
    {
        font-size: 3rem;
    }
    .text-block-titles h1 
    {
        font-size: 3.5rem;
    }
    .project-objective .text-block-ruler 
    {
        height: 300px;
    }
    .project-ideation .text-block-ruler 
    {
        height: 266px;
    }
    .project-solution .text-block-ruler 
    {
        height: 284px;
    }
    .text-block-copy 
    {
        width: 350px;
    }
    .text-block-copy p 
    {
        font-size: 1rem;
    }
}
@media (max-width: 550px)
{
    .image-block img 
    {
        width: 500px;
    }
}
@media (max-width: 650px)
{
    .image-block img 
    {
        width: 400px;
    }
    .text-block-titles h2 
    {
        font-size: 2.6rem;
    }
    .text-block-titles h1 
    {
        font-size: 3rem;
    }
    .project-objective .text-block-ruler 
    {
        height: 260px;
    }
    .project-ideation .text-block-ruler 
    {
        height: 230px;
    }
    .project-solution .text-block-ruler 
    {
        height: 250px;
    }
    .text-block-copy 
    {
        width: 300px;
    }
    .text-block-copy p 
    {
        font-size: 0.9rem;
    }
}
@media (max-width: 475px)
{
    .image-block img 
    {
        width: 350px;
    }
    .text-block-titles h2 
    {
        font-size: 2.2rem;
    }
    .text-block-titles h1 
    {
        font-size: 2.5rem;
    }
    .project-objective .text-block-ruler 
    {
        height: 225px;
    }
    .project-ideation .text-block-ruler 
    {
        height: 200px;
    }
    .project-solution .text-block-ruler 
    {
        height: 215px;
    }
    .text-block-copy 
    {
        width: 250px;
    }
    .text-block-copy p 
    {
        font-size: 0.8rem;
    }
}
/*Responsive Footer*/
@media (max-width: 800px)
{
    .footer h2
    {
        font-size: 1rem;
    }
    .footer a
    {
        font-size: 1rem;
    }
    .footer a:hover
    {
        font-size: 1rem;
    }
}
@media (max-width: 675px)
{
    .footer h2
    {
        font-size: 0.8rem;
    }
    .footer a
    {
        font-size: 0.8rem;
    }
    .footer a:hover
    {
        font-size: 0.8rem;
    }
    .footer a:hover
    {
        -webkit-text-stroke: 0.75px #DD1212;
        -moz-text-stroke: 0.75px #DD1212;
    }
}
@media (max-width: 550px)
{
    .footer 
    {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}