* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/*Grid Layout*/
#grid-layout
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header" 
    "small-images-sidebar large-image-main information-sidebar";
}
#header
{
    grid-area: header;
    background-color: white;
    text-align: center;
}
#small-images-sidebar
{
    grid-area: small-images-sidebar;
    background-color: white;
}
#large-image-main
{
    grid-area: large-image-main;
    background-color:white;
}
#information-sidebar
{
    grid-area: information-sidebar;
    background-color: white;
}

/*Header*/
#header
{
    text-align: center;
}
#m
{
    color: purple;
}
#e
{
    color: #E53238;
}
#b
{
    color: #0064D2;
}
#a
{
    color: 	#F5AF02;
}
#y
{
    color: 	#86B817;
}

/*Smaller Images*/
#small-images-sidebar
{
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#img1
{
    border: 2px solid black;
    border-radius: 10%;
    width: 112px;
    height: 112px;
    padding: 5%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
#img2
{
    border: 0px solid black;
    border-radius: 10%;
    width: 112px;
    height: 112px;
    padding: 5%;
    background-color: rgb(200, 200, 200);
    margin-top: 10px;
    margin-bottom: 10px;
}
#img3
{
    border: 0px solid black;
    border-radius: 10%;
    width: 112px;
    height: 112px;
    padding: 5%;
    background-color: rgb(200, 200, 200);
    margin-top: 10px;
    margin-bottom: 10px;
}
#img4
{
    border: 0px solid black;
    border-radius: 10%;
    width: 112px;
    height: 112px;
    padding: 5%;
    background-color: rgb(200, 200, 200);
    margin-top: 10px;
    margin-bottom: 10px;
}
#img5
{
    border: 0px solid black;
    border-radius: 10%;
    width: 112px;
    height: 112px;
    padding: 5%;
    background-color: rgb(200, 200, 200);
    margin-top: 10px;
    margin-bottom: 10px;
}
#img6
{
    border: 0px solid black;
    border-radius: 10%;
    width: 112px;
    height: 112px;
    padding: 5%;
    background-color: rgb(200, 200, 200);
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Large Image*/
#large-image-main
{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
#imglarge
{
    border: 0px solid black;
    border-radius: 10%;
    width: 475px;
    height: 475px;
    padding: 8%;
    background-color: rgb(200, 200, 200);
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Information Sidebar*/

.flex-container-1
{
    border: 0px solid black;
    width: 475px;
    height: 475px;
    padding: 5%;
    background-color: (white);
    margin-top: 10px;
    margin-bottom: 10px;
}
#dude
{
    border-radius: 50%;
}