/* Drill 1 - Write your code solution below */
#limegreentext
{
    color: limegreen;
}
/* Drill 2 - Write your code solution below */
#redtext
{
    color: red;
}
/* Drill 3 - Write your code solution below */
#magentatext
{
    color: magenta;
}
/* Drill 4 - Write your code solution below */
#skyblue
{
    background-color: skyblue;
}
/* Drill 5 - Write your code solution below */
#round
{
    border-radius: 50%;
}