@font-face
{
    font-family: Clash-Display-Bold;
    src: url(../fonts/ClashDisplay-Bold.otf);
}
@font-face
{
    font-family: Clash-Grotesk-Medium;
    src: url(../fonts/ClashGrotesk-Medium.otf);
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Font Styling*/
h1
{
    font-family: Clash-Display-Bold, sans-serif;
    font-weight: 100;
}
h2
{
    font-family: Clash-Display-Bold, sans-serif;
    font-weight: 100;
}
a
{
    font-family: Clash-Display-Bold, sans-serif;
    font-weight: 100;
}
p
{
    font-family: Clash-Grotesk-Medium, sans-serif;
    font-weight: 100;
}

/*Header*/
#header
{
    position: sticky;
    top: 0px;
    z-index: 1000;
}
#navbar
{
    background-color: #222222;
    display: flex;
    align-items: center;
    max-height: 80px;
    box-shadow: 0px 10px 25px 0px black;
}
#navbar a
{
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 22px;
}
#navbar a:hover
{
    color: #9c9c9c;
}
#navbar #navbar-wordmark
{
    margin-top: 10px;
    margin-left: 200px;
    margin-right: auto;
    padding: 0;
}
#navbar #navbar-wordmark img
{
    max-height: 110px;
}

/*Hero Section*/
#hero
{
    background-image: url("../images/B&WRadioHero.jpg");
    height: 80vh;
    background-size: 100% auto;
    background-position: center -110px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
}
#hero-text h1 
{
    font-size: 100px;
    text-align: left;
    color: rgb(255, 255, 255);
    margin: 140px 0px 165px 65px;
    text-shadow: 5px 5px 15px rgba(0,0,0,0.75);
}

/*Logo Bar*/
#logo-bar
{
    position: relative;
    top: 0px;
    z-index: 100;
    box-shadow: 
    0px 10px 25px 0px black,
    0px -10px 25px 0px black;
}
#logo-bar-images 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #222222;
    gap: 10px;
}

/*About Section*/
#about
{
    background-image: url("../images/PinkSkyHero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center, center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    top: 0px;
}
.about-card
{
    display: inline-block;
    border: solid, 1px, white;
    border-radius: 60px;
    max-width: 800px;
    min-width: 350px;
    padding: 25px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
#about h2
{
    color: white;
}
#about p
{
    color: white;
}
#about a
{
    text-decoration: none;
    color: white;
}